@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    color: #c8a9ff;
    text-align: left;
    background-color:#281935;
    font-family: 'Open Sans', sans-serif;
}
@import '~ngx-toastr/toastr';